<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785836094798-m51ikkfohrb18ndq4lo969u0bjn3fl7i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785836094798-m51ikkfohrb18ndq4lo969u0bjn3fl7i</string>
	<key>API_KEY</key>
	<string>AIzaSyDLlCjht40SLzeMNgJ7WY-L3IhBoaSR73s</string>
	<key>GCM_SENDER_ID</key>
	<string>785836094798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.uniquename.starup</string>
	<key>PROJECT_ID</key>
	<string>starup-1d2d4</string>
	<key>STORAGE_BUCKET</key>
	<string>starup-1d2d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785836094798:ios:fc2793d9e389f0746fda1f</string>
</dict>
</plist>